/* Сброс отступов и настройка на весь экран */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: sans-serif;
  color: #111;
}

/* Контейнер для основного контента */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px); /* Высота экрана минус высота футера (80px) */
}

/* Стили для ссылок */
a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}
